@model UserAccount

    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Логин</td>
                    <td>@Model.Name</td>
                    <td>Телефон</td>
                    <td>@Model.Phone</td>
                </tr>
            </table>
        </div>
    </div>
    <br>

        <div class="dropdown">
  <button class="dropbtn">Действия</button>
  <div class="dropdown-content">
    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-name="@Model.Name">Смена пароля</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditUser" asp-route-name="@Model.Name">Редактирования данных</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-name="@Model.Name">Удалить</a>
  </div>
</div>