@model ProductViewModel
<div class="container">
<div class="row">
        <div class="col-7">
            <img class="card-img-top" src=@Model.ImagePath>
        </div>

           <div class="col-5">
               <FONT size="12">
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">@Model.Name</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">@Model.Cost руб</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Компания: @Model.Company</span>
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Диагональ: @Model.Diagonal</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Разрешение экрана: @Model.ScreenResolution</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Тип матрицы: @Model.Matrix</span>
                </div>
               
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Время отклика: @Model.Response</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Гц:@Model.Hz</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Цвет: @Model.Color</span>
                </div>

               <a class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
               <a class="btn btn-dark" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
               </Font>
               
           </div>
           
</div> 
</div>
