@model MonitorsProduct

         <div class="video-bg">     
   <video src="~/images/moniks1.mp4" type="moniks1/mp4" autoplay muted loop></video>
   <div class="effects"></div>                
   <div class="video-bg__content">

<div class="row">
        <div class="col-7">
            <img class="card-img-top" src=@Model.ImagePath>
        </div>

           <div class="col-5">
               <FONT size="12">
                   <h5>@Model.Name</h5>
                   
               <h5>@Model.Cost руб</h5>

               <h5>Компания: @Model.Company </h5>
               <br>
               <h5>Диагональ: @Model.Diagonal </h5>
               <br>
               <h5>Разрешение экрана: @Model.ScreenResolution </h5>
               <br>
               <h5>Тип матрицы: @Model.Matrix </h5>
               <br>
               <h5>Время отклика: @Model.Response </h5>
               <br>
               <h5>Гц: @Model.Hz </h5>
               <br>
               <h5>Цвет: @Model.Color </h5></FONT>

               <a class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
               <a class="btn btn-dark" href="/cart/addmonitor?productId=@Model.Id" role="button">Добавить в корзину</a>

               
           </div>
           
</div>   
</div>
</div>