@model PcProduct

<div class="video-bg">     
   <video src="~/images/moniks1.mp4" type="moniks1/mp4" autoplay muted loop></video>
   <div class="effects"></div>                
   <div class="video-bg__content">

<div class="row">
        <div class="col-7">
            <img class="card-img-top" height="750" width="750" src=@Model.ImagePath>
        </div>

           <div class="col-5">
               <font size="5">
                   <h5>@Model.Name</h5>
                   <br>
               <h5>@Model.Cost руб</h5>
               <br>
               <h5>Компания: @Model.Company </h5>
               <br>
               <h5>Материнская плата: @Model.Motherboard </h5>
               <br>
               <h5>ОЗУ: @Model.Ram </h5>
               <br>
               <h5>Видеокарта: @Model.VideoAdapter </h5>
               <br>
               <h5>Охлождение процессора: @Model.CpuCooling </h5>
               <br>
               <h5>Накопитель HDD: @Model.Hdd </h5>
               <br>
               <h5>Накопитель SSD: @Model.Ssd </h5>
               <br>
                   <h5>Блок питания: @Model.Psu</h5>
           </font>

               <a class="btn btn-dark" href="/home/pcindex" role="button">Продолжить покупки</a>
               <a class="btn btn-dark" href="/cart/addpc?productId=@Model.Id" role="button">Добавить в корзину</a>               
           </div>
           
</div>   
</div>
</div>
