@model List<ProductViewModel>

<div class="row">
@foreach (var product in Model)
{
    <div class="col-5">
        <div class="card shadow">

           <div class="card-body">
               <a style="color:black"
               asp-area=""
               asp-controller="Product"
               asp-action="Index"
               asp-route-id="@product.Id">
                   <h5>@product.Name</h5>
                   </a>
               <FONT size="12">
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">@product.Name</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">@product.Cost руб</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Компания: @product.Company</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Диагональ: @product.Diagonal</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Разрешение экрана: @product.ScreenResolution</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Тип матрицы: @product.Matrix</span>
                </div>
               
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Время отклика: @product.Response</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Гц:@product.Hz</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 350px">Цвет: @product.Color</span>
                </div>
               </Font>

               <h5>@product.Cost руб</h5>
               <a class="btn btn-dark"
               asp-area=""
               asp-controller="Cart"
               asp-action="Add"
               asp-route-productId="@product.Id"
               role="button">Добавить в корзину</a>

                    <a class="btn btn-danger"
                   asp-area=""
                   asp-controller="Compare"
                   asp-action="Remove"
                   asp-route-productId="@product.Id"
                   role="button">Удалить из сравнения</a>
           </div>
        </div>
    </div>
}
</div>